<h2 class="ui center aligned medium icon header w-color"><i class="circular comment outline icon inverted blue"></i>Chatting</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div id='messages' class="content">
        <div id="message-container" class="ui medium feed">
          <%= render @messages %>
        </div>
      </div>
      <div class ="extra content coloring">
        <%= form_for(@message, html: { class: 'ui reply form', role: 'form' }, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <div class="ui icon button blue spacing"><i class="white inverted paper plane icon"></i></div>
              <!--<%= f.button '<i class="bordered orange edit icon"></i>'.html_safe %>-->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class='ui list'>
        <div class='item'>
          <div class='content'>
            <div class='active-user'>
              Online Users:
              <%= @users.count %><br>
              Currently Active:<br>
              <% @users.each do |user| %>
                <i class='users icon'></i>
                <%= user.username %><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>