<!DOCTYPE html>
<html>
  <head>
    <title>Messageapp</title>
<<<<<<< HEAD
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="ui blue small inverted menu">
      <div class=" ui container">
        <%= render 'layouts/navigation'%>
      </div>
    </div>
    
    <div class="ui container">
      <%= yield %>
    </div>
=======
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
>>>>>>> dc8077038e973d402628a4f9fe2989bbac6efe9c
  </body>
</html>
